# Kompilierte Klassen
*.class

# Maven build Dateien
target/

# Eclipse Dateien
.classpath
.project
.settings/

# IntelliJ Dateien
.idea/
*.iml
*.iws
*.ipr

# NetBeans Dateien
nbproject/
nbactions.xml
nb-configuration.xml

# Mac OS Dateien
.DS_Store

# Windows Dateien
Thumbs.db
ehthumbs.db
Desktop.ini

# Package Dateien
FileVault-1.0-SNAPSHOT.jar
FileVault-shaded.jar
*.war
*.ear
*.tar.gz
*.rar

# Log Dateien
*.log

# User-spezifische Dateien
.filevault/